@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.agentListBody{
    display:flex;
    justify-content: center;
    width:100vw;
}

.allAgents {
    display:grid;
    grid-template-columns: repeat(5, 15%);
    width:100%;
    grid-gap: 40px;
    grid-template-rows: repeat(4);
    justify-content: center;
}
.Agents {
    width: 90%;
    height: 90%;
}

.agentListName {
    font-family: 'Bebas Neue';
    width:100%;
    text-align: center;
}

a {
    text-decoration: none;
    color:#F0E9B4;
}

.agentCard{
    text-align: center;
    display:flex;
}