@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.header {
    font-family: 'Bebas Neue';
    color:white;
}

.valInfo {
    color:white;
    font-family: 'Bebas Neue';
    font-size: 30px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    
}

.bgVideo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.playNow {
    position:absolute;
    bottom: 1%;
    right:45%;
    font-size: 50px;
}