@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: black;
    margin:0;
}

.ValCover {
    background-image: url("./valorant_cover.png");
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.header {
    font-size: 50px;
    position: absolute;
    top:0%;
}

.links {
    display: flex;
    justify-content: space-around;
    font-family: 'Bebas Neue';
    font-size: 20px;
    width: 100%;
}

nav a {
    text-decoration: none;
    color:white;
}